<!DOCTYPE html>



<html>

	<head>
        <title>{{ the_title }}</title>
 
		{% block styles %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/bootstrapadaptations.css')}}">
		{% endblock %}


				
	</head>

    <body>

		{% block content %}

			{% block navbar %}
				<div class="navbar navbar-inverse" role="navigation" style="width: 100%;">
					<div class="container-full">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
							data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar">choice 1</span>
								<span class="icon-bar">choice 2</span>
								<span class="icon-bar">choice 3</span>				
							</button>
							<a class="navbar-brand" href="/">DataBrowser</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/tabletest">tabletest</a></li>
							</ul>
						</div>
					</div>
				</div>
			{% endblock %}
		
		
			{% block page_content %}{% endblock %}

		{% endblock %}
    
	
		{% block scripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% endblock %}
	
	
	</body>


	
</html>