{% extends "bootstrap/base.html" %}
{% block title %}Clinical Data Browser{% endblock %}

{% block styles %}
	{{ super() }}



{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" style="width: 100%;">
	<div class="container-full">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar">choice 1</span>
				<span class="icon-bar">choice 2</span>
				<span class="icon-bar">choice 3</span>				
			</button>
			<a class="navbar-brand" href="/">DataBrowser</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/tabletest">tabletest</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

		{% block page_content %}{% endblock %}

{% endblock %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/datatables.min.js"></script> -->
{% endblock %}