{% extends 'base4.html' %}

{% block page_content %}

<div class="container">
    <div class="row"><div class="col">Study Dataset Path: </div></div>
    <div class="row">
      <div class="col-9"><input class="form-control" value="{{ the_path }}" data-bind="value: studypathText"/></div>
      <div class="col"><button class="btn btn-primary" data-bind="click: fetchDatasets">Select</button></div>
    </div>
</div></br>

<!-- Master Div to show only when study has been selected -->
<div id="MasterDiv" class="d-none">



    <!-- Tabs for Create Query and Re-Use Query -->


    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bind="click: editSQLquery" id="edit-tab" data-toggle="tab" href="#editTab" role="tab" aria-controls="editTab" aria-selected="true">Build Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-bind="click: loadQueries" id="load-tab" data-toggle="tab" href="#load" role="tab" aria-controls="load" aria-selected="false">Load Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="compare-tab" data-toggle="tab" href="#compare" role="tab" aria-controls="compare" aria-selected="false">Compare Files</a>
          </li>
        </ul>


        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="editTab" role="tabpanel" aria-labelledby="edit-tab">


              <!-- QueryBuilder Div-->
                <div id="QueryBuilderDiv">

                    <!-- Query building interface -->
                    <div class="container">
                        <div class="row">

                            <!-- COLUMN 1 -->
                            <div class="col-sm">
                                <strong>Select dataset:</strong></br>
                                <select data-bind="options: datasetsList, value: leftFile, event:{change: fetchLeftFields}" class="form-control" ></select>

                                <label for="colselect">Select Left fields:</label>
                                <select data-bind="options: leftFieldList, value: leftField, event:{change: addLeftFieldSelect}" id="leftcolselect" class="form-control" name="leftcolselect" size="10"></select>
                                <p></p>

                                <button id="btnJoin" type="button" class="btn btn-primary">Join Datasets</button>
                                <button id="btnSingle" type="button" class="btn btn-primary">Single Dataset</button>

                            </div>

                            <!-- COLUMN 2 -->
                            <div id="joinUI" class="col-sm joindivs">

                                <div><strong>Join:</strong></div></br>
                                <table class="table table-sm ">
                                    <th>Left dataset</th><th>Join</th><th>Right dataset</th><th></th>
                                    <tbody>
                                    <tr>
                                        <td><input class="form-control form-control-sm" type="text" data-bind="value: leftFile" disabled></td>
                                        <td><select data-bind="options: $root.joinTypes, value: joinType" class="form-control-sm"></select></td>
                                        <td><input class="form-control form-control-sm" type="text" data-bind="value: rightFile" disabled></td>
                                    </tr>
                                    <!-- <tr>
                                        <td><select data-bind="options: sq.datasets, value: joinedLeftDS, event:{change: fetchLeftLinkFields}"  class="form-control-sm"></select></td>
                                        <td><select data-bind="options: $root.joinTypes, value: joinType" class="form-control-sm"></select></td>
                                        <td><select data-bind="options: sq.datasets, value: joinedRightDS, event:{change: fetchRightLinkFields}" class="form-control-sm"></select></td>
                                    </tr> -->
                                    </tbody>
                                    <tbody data-bind="foreach: links">
                                        <td><select data-bind="options: $root.leftLinkFieldList, value: leftLink" class="form-control-sm"></select></td>
                                        <td style="text-align:center"><h6>=</h6></td>
                                        <td><select data-bind="options: $root.rightLinkFieldList, value: rightLink" class="form-control-sm"></select></td>
                                        <td><a href="#" data-bind="click: $root.removeLink">X</a></td>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-outline-primary btn-sm" data-bind="click: addLink">Add Link</button>
                                </br></br>



                            </div>

                            <!-- COLUMN 3 -->
                            <div id="join1" class="col-sm joindivs">
                                <strong>Select dataset to join:</strong></br>
                                <select data-bind="options: datasetsList, value: rightFile, event:{change: fetchRightFields}" class="form-control" ></select>
                                <label for="rightcolselect">Select right fields:</label>
                                <select data-bind="options: rightFieldList, value: rightField, event:{change: addRightFieldSelect}" id="rightcolselect" class="form-control" name="rightcolselect" size="10"></select>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        SELECT <span data-bind="text: sq.selectedFields" class="h6"></span> <a href="#" data-bind="click: $root.removeSelectField">X</a>
                    </div>

                    <div class="container">
                        <strong>Where: </strong><input class="form-control" data-bind="value: sq.whereClause" />
                    </div>

                    <!-- ORDER BY -->
                    <div class="container">
                        <strong>Order by: </strong>
                        <select data-bind="options: sq.datasets, value: sortDomain, event:{change: fetchSortFields}" class="form-control-sm" ></select>
                        <select data-bind="options: sortFieldList, value: sortField" class="form-control-sm" ></select>
                        <select data-bind="options: $root.sortDirections, value: sortDirection" class="form-control-sm"></select>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bind="click: addOrderBy">Add</button>
                        <h5><span data-bind="text: sq.sorts" class="h6"></span> <a href="#" data-bind="click: $root.removeSort2">X</a></h5>
                        </br>
                        </br>
                    </div>

                    <!-- WHERE CLAUSE -->
                    <div class="container">
                        ORDER BY <span data-bind="text: sq.sorts" class="h6"></span> <a href="#" data-bind="click: $root.removeSort2">X</a>
                    </div>

                <!-- end of QueryBuilderDiv -->
                </div>

                <!-- BUTTONS -->
                <div class="container">

                        <button class="btn btn-secondary" data-bind="click: runQuery4">Run Python query4</button>
                        <button class="btn btn-danger" id="btnRunQuery" data-bind="click: runSQLquery">Run SQL query3</button>
                        <button class="btn btn-success d-none" id="btnEditQuery" data-bind="click: editSQLquery">edit SQL query</button>
                        <button class="btn btn-primary" data-bind="click: saveQueryModal">Save query</button>
                </div>
                <p></p>


          </div>
          <div class="tab-pane fade" id="load" role="tabpanel" aria-labelledby="load-tab">
              <!-- <button type="button" class="btn btn-outline-primary btn-xs"  data-bind="click: function(){ viewQuery('test.json') }">Fix button test</button> -->
              <p></p>
              <ul class="list-group" ></ul>
              <div class="list-group" id="loadList"></div>
              <p></p>
          </div>
          <div class="tab-pane fade" id="compare" role="tabpanel" aria-labelledby="compare-tab">...</div>
        </div>
    </div>




</div>

<!-- Datatable Div -->
<div class = "container-fluid" id="DatatableDiv">

    <table id="queryTable" class="display table-sm">
        <thead id="queryTableHead"></thead>
    </table>
</div>

<!-- Modal to show the save pop-up -->

<div id= "saveModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save query to the server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table width="100%">
            <tr>
                <td width="150">Query Name:</td><td>
                <input class="form-control form-control-sm" type="text" data-bind="value: sq.name"></td>
            </tr><tr>
                <td>Data Model:</td><td>
                <input class="form-control form-control-sm" type="text" data-bind="value: sq.dataModel"></td>
            </tr><tr>
                <td>Scope:</td><td><input class="form-control form-control-sm" type="text" data-bind="value: sq.scope">
                </td>
            </tr><tr>
                <td>Description:</td><td><textarea class="form-control" rows="3" data-bind="value: sq.description">
                </textarea></td>
            </tr><tr>
                <td>Datasets:</td><td><span data-bind="text: sq.datasets"></span></td>
            </tr><tr>
                <td>Left Domain:</td><td><span data-bind="text: leftFile"></span></td>
            </tr><tr>
                <td>Right Domain:</td><td><span data-bind="text: rightFile"></span></td>
            </tr><tr>
                <td>Selected fields:</td><td><span data-bind="text: sq.selectedFields"></span></td>
            </tr><tr>
                <td>Order by:</td><td><span data-bind="text: sq.sorts"></span></td>
            </tr><tr>
                <td>SQL:</td><td><span data-bind="text: sq.SQLquery" /></td>
            </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: saveQuery">Save query</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id= "openModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Run saved query</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table width="100%">
            <tr>
                <td width="150">Query Name:</td><td>
                <span data-bind="text: sq.name"></span></td>
            </tr><tr>
                <td>Data Model:</td><<td>
            <span data-bind="text: sq.dataModel"></span></td>
            </tr><tr>
                <td>Scope:</td><<td><span data-bind="text: sq.scope"></span>
                </td>
            </tr><tr>
                <td>Description:</td><td><span data-bind="text: sq.description">
                </span></td>
            </tr><tr>
                <td>Domains:</td><td><span data-bind="text: sq.datasets"></span></td>
            </tr><tr>
                <td>Left Domain:</td><td><span data-bind="text: leftFile"></span></td>
            </tr><tr>
                <td>Right Domain:</td><td><span data-bind="text: rightFile"></span></td>
            </tr><tr>
                <td>Selected fields:</td><td><span data-bind="text: sq.selectedFields"></span></td>
            </tr><tr>
                <td>Order by:</td><td><span data-bind="text: sq.sortFields"></span></td>
            </tr><tr>
                <td>Where:</td><td><span data-bind="text: sq.whereClause"></span></td>
            </tr><tr>
                <td>SQL:</td><td><span data-bind="text: sq.SQLquery"></td>
            </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bind="click: runSQLquery">Run query</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div> <!-- Ends MasterDiv>


{% endblock %}

{% block scripts %}
	<!-- Optional JavaScript -->
    {{ super() }}
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script> -->
    <script src="{{ url_for('static', filename='./js/knockout-min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/cloudds.js') }}"></script>

{% endblock %}