{% extends 'base4.html' %}

{% block page_content %}

<div class="container">
    Select dataset Path: <input class="form-control" value="{{ the_path }}" data-bind="value: studypathText" width="80" />
    <button class="btn btn-primary" data-bind="click: fetchDatasets">view datasets new style</button>
</div>

<div class="container">
    Right Fields: <input class="form-control"  data-bind="value: rightFieldList" width="150" />
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <strong>Select left file to merge:</strong></br>
            <select data-bind="options: datasetsList, value: leftFile, event:{change: fetchFields}" class="form-control" ></select>

            <label for="colselect">Select Left fields:</label>
			<select data-bind="options: leftFieldList" multiple="multiple" id="colselectX" class="form-control" name="colselectX" size=20>
			</select>
        </div>

        <div class="col-sm">
            <strong>Join linking:</strong></br>
            <table class="table table-sm ">
                <th>Left</th><th>Right</th>
                <tbody data-bind="foreach: links">
                    <td><select data-bind="options: $root.leftFieldList, value: leftLink" class="form-control"></select></td>
                    <td><select data-bind="options: $root.rightFieldList, value: rightLink" class="form-control"></td>
                    <td><a href="#" data-bind="click: $root.removeLink">X</a></td>
                </tbody>
            </table>
            <button data-bind="click: addLink">Add Link</button>
        </div>

        <div class="col-sm">
            <strong>Select right file to merge:</strong></br>
            <select data-bind="options: datasetsList, value: rightFile, event:{change: fetchRightFields}" class="form-control" ></select>
            <label for="rightcolselect">Select right fields:</label>
			<select data-bind="options: rightFieldList, value: rightField, event:{change: addRightFieldSelect}" id="rightcolselect" class="form-control" name="rightcolselect" size=20></select>
        </div>
    </div>
</div>

<div class="container">
    select <input class="form-control"  data-bind="value: selectedFields" /> <a href="#" data-bind="click: $root.removeSelectField">X</a>
</div>
<div class="container">
    from <span class="h6"  data-bind="text: leftFile"></span>
    inner join  <span class="h6" data-bind="text: rightFile"> </span>
</div>
<div class="container">
   on <input class="form-control"  data-bind="value: rightFieldList" width="150" />
</div>

{% endblock %}

{% block scripts %}
	<!-- Optional JavaScript -->
    {{ super() }}
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script src="{{ url_for('static', filename='./js/cloudds.js') }}"></script>

{% endblock %}